.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: var(--spacing-20);
  background: var(--color-white);
  box-sizing: border-box;
  height: 100vh;
}

.narrow {
  height: 100%;
  padding: 0 var(--spacing-16);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dropArea {
  box-sizing: border-box;
  width: 100%;
  border: 1.5px dashed var(--color-gray);
  padding: 16px;
  margin: var(--spacing-12) auto;
  border-radius: 8px;

  display: flex;
  justify-content: center;
  align-items: center;
}
.progress {
  width: 100%;
  margin: 0 auto 20px;
  background-color: #f3f3f3;
  border-radius: 8px;
  overflow: hidden;
  height: 20px;
}

.progressBar {
  height: 100%;
  background-color: #00aaff;
  transition: width 0.5s;
}

.error {
  color: red;
}

.success {
  margin-bottom: 16px;
}

.downloadButton {
  width: 100%;
  border-radius: 0px;
}

.uploadedFiles {
  max-height: calc(100vh - 206px);
  flex: 1;
  overflow: auto;
  scrollbar-width: thin;
  scrollbar-color: #8ac5ff #ffffff;
}

.uploadedFiles::-webkit-scrollbar {
  width: 0px; /* Ширина всего элемента навигации */
}

.uploadedFiles::-webkit-scrollbar-track {
  background: #ffffff; /* Цвет дорожки */
}

.uploadedFiles::-webkit-scrollbar-thumb {
  background-color: #8ac5ff; /* Цвет бегунка */
}

.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  position: relative;
  animation: rotate 1s linear infinite;
}
.loader::before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  inset: 0px;
  border-radius: 50%;
  border: 5px solid #333333;
  animation: prixClipFix 2s linear infinite;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes prixClipFix {
  0% {
    clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0);
  }
  25% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0);
  }
  50% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%);
  }
  75% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 100%);
  }
  100% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 0);
  }
}

.dragndrop {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-8);
}
.dragndropText {
  text-align: center;
}

.dropArea_fullscreen {
  height: calc(100% - 60px);
}
.dropArea_dragging {
  border-color: var(--color-primary);
  background-color: var(--color-primary-20);
}
