.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: var(--spacing-20);
  background: var(--color-white);
  box-sizing: border-box;
  height: 100vh;
  margin: 0 auto;
  max-width: 920px;

  /* Стили для круглой кнопки */
  padding-bottom: var(--spacing-20);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 var(--spacing-16);
}

.dropArea {
  min-height: 96px;
  box-sizing: border-box;
  width: calc(100% - var(--spacing-32));
  border: 1.5px dashed var(--color-gray);
  padding: 16px;
  margin: var(--spacing-12) auto var(--spacing-20);
  border-radius: 8px;

  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.dropAreaWrapper {
  padding-right: var(--spacing-16);
}

.progress {
  width: 100%;
  margin: 0 auto 20px;
  background-color: #f3f3f3;
  border-radius: 8px;
  overflow: hidden;
  height: 20px;
}

.progressBar {
  height: 100%;
  background-color: #00aaff;
  transition: width 0.5s;
}

.error {
  color: red;
}

.success {
  margin-bottom: 16px;
}

.downloadButton {
  width: calc(100% - var(--spacing-32));
  margin: 0 auto;
}

.uploadedFiles {
  margin: 0;
  padding: 0 var(--spacing-8) 0 var(--spacing-16);
}

.uploadedFiles::-webkit-scrollbar {
  width: 0px;
}

.loaderContainer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
}

.loader {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  position: absolute;
  animation: rotate 1s linear infinite;
}
.loader::before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  inset: 0px;
  border-radius: 50%;
  border: 5px solid var(--color-primary);
  animation: prixClipFix 2s linear infinite;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes prixClipFix {
  0% {
    clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0);
  }
  25% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0);
  }
  50% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%);
  }
  75% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 100%);
  }
  100% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 0);
  }
}

.dragndrop {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-8);
}

.dragndropText {
  text-align: center;
}

.dropArea_fullscreen {
  height: calc(100% - 60px);
}

.dropArea_dragging {
  border-color: var(--color-primary);
  background-color: var(--color-primary-20);
}

.simplebar-custom-style {
  padding-right: var(--spacing-8);

  /* Стили для круглой кнопки */
  max-height: calc(100vh - 250px);
}

.wrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
}
