.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}

.emojis {
  display: flex;
  gap: 12px;
}

.emojiButton {
  background: #fafafa;
  border: none;
  border-radius: 10px;
  padding: var(--spacing-12);
  font-size: 23px;
  cursor: pointer;
  /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); */
  /* transition: transform 0.2s ease; */
}
.content {
  display: flex;
  align-items: center;
  flex-direction: column;
  row-gap: var(--spacing-12);
  margin-bottom: var(--spacing-48);
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  justify-content: center;
}
.feedbackText {
  color: var(--color-dark-35);
}

.emojiButton:hover {
  background-color: var(--color-primary-20);
}
