.image {
  width: 32px;
  height: 32px;
  object-fit: cover;
  border-radius: 5px;
  margin-right: 8px;
}

.wrapper {
  display: flex;
  width: 100%;
}

.flex {
  display: flex;
  justify-content: space-between;
}

.file {
  display: flex;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

.name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 162px;
}

.name_error {
  max-width: 180px;
}

.sizes {
  font-size: 10px;
  font-weight: 400;
  margin-top: 4px;
  line-height: 1.4;
}

.download {
  display: flex;
  align-items: center;
  margin-left: 12px;
  background: transparent;
  cursor: pointer;
  color: var(--color-primary);
}

.download:hover {
  color: var(--color-primary-80);
}

.download:active {
  transform: scale(0.975);
}

.container {
  padding-top: var(--spacing-12);
  width: calc(100% - var(--spacing-24));
  margin: 0 auto;
}

.container:first-child {
  padding-top: 0;
}

.error {
  color: #ff0000;
}

.rate {
  width: max-content;
}

.divider {
  height: 1px;
  background-color: var(--color-dark-10);
  width: 100%;
  margin-top: var(--spacing-12);
}
